<!-- Needed for the "current" class -->
{% assign current = page.url | downcase | split: '/' %}

<header>
<div class="wrapper">

		<h2 class="pull-left"><a href="/">Alrad</a></h2>
		<nav>
		
	<ul>
	<li class="pull-right"><a href="/tentang" {% if current[1] == "bio" %}class="current"{% endif %} >Bio</a></li>
	<li class="pull-right"><a href="/halaman" {% if current[1] == "halaman" %}class="current"{% endif %} >Halaman</a></li> 
	<li class="pull-right"><a href="/berlangganan" {% if current[1] == "langganan" %}class="current"{% endif %} >Langganan</a></li>
	</ul>
        
		</nav> 


        <div style="clear:both;"></div>

    </div>

</header>

