<!-- Needed for the "current" class -->
{% assign current = page.url | downcase | split: '/' %}

<header>

	<div class="wrapper">


	<!--	<h2><a href="/">Alrad</a><a style="color:green">.</a></h2>
		<p><b style="color:white">Blog Pribadi Alif Radhitya</p></b> --!>
<!-- <center>
<img src="https://raw.githubusercontent.com/radhityaa/radhityaa.github.io/master/media/linuxnow2.gif">
<img src="https://raw.githubusercontent.com/radhityaa/radhityaa.github.io/master/media/gnubanner-2.png">
 <img src="https://raw.githubusercontent.com/radhityaa/radhityaa.github.io/master/media/rss.png">
<img src="https://raw.githubusercontent.com/radhityaa/radhityaa.github.io/master/media/internetprivacy.gif">
</center> --!>
			<nav>
		
	<ul>
	<li class="pull-left"><a href="/">alrad.</a></li>
	<li class="pull-right"><a href="/tentang" {% if current[1] == "bio" %}class="current"{% endif %} >Bio</a></li>
	<li class="pull-right"><a href="/halaman" {% if current[1] == "halaman" %}class="current"{% endif %} >Halaman</a></li> 
	<li class="pull-right"><a href="/berlangganan" {% if current[1] == "langganan" %}class="current"{% endif %} >Langganan</a></li>
	</ul>
        
		</nav> 


        <div style="clear:both;"></div>

    </div>

</header>

