---
layout: default
---
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body style="background-color:#171010;">
<center> 
<h1 style="color:#fff">~al1r4d</h1>
<p><b>Alif Radhitya </b></p>
<img style="max-width: 250px;" src="/media/ikon.jpg">
<p><i>free software, music; for fun.</i></p>
<p>blog on <a href="https://alif.radhitya.my.id">alif.radhitya.my.id</a></p>
<p>contact : <a href="https://mstdn.io/@al1r4d">mastodon</a> & <a href="mailto:al1r4d@riseup.net">email</a></p>
  <div>
      <marquee direction="right">
      <img src="/media/propaganda/linux.gif"></img>
      <img src="/media/propaganda/getmozilla2.gif"></img>
      <img src="/media/propaganda/gnu.png"></img>
      <img src="/media/propaganda/emacs.gif"></img>
      <img src="/media/propaganda/firefox.gif"></img>
      <img src="/media/propaganda/mastodon.gif"></img>
      <img src="/media/propaganda/chrmevil.gif"></img>
      <img src="/media/propaganda/google_stand.gif"></img>
      <img src="/media/propaganda/drm.gif"></img>
    </div>
    </marquee>
</center>

